/* PresSet */
:root{
    --color-accent : #2196f3;
    --color-main : #fff;
}
.body{
    background: #e5e5e5;
    font-family: Roboto, sans-serif; 
    letter-spacing: 0.03em;
    line-height: 1.2;
    font-size: 14px;
    color: #212121;
}
ul{
    list-style: none;
}
a{
   text-decoration: none;
}
/* Logo header footer */
.web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--color-accent)
}
.studionav{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}
.studio{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--color-main);
}
/* header */
.nav-list  a {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.nav-list a:focus {
    color: var(--color-accent);
}
.nav-list a:hover {
    color: var(--color-accent);
}
.nav-login  a {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav-login a:focus {
    color: var(--color-accent);
}
.nav-login a:hover {
    color: var(--color-accent);
}
 .nav-list .curent{
    color: var(--color-accent);
}
/* footer */
.address a {
line-height: 1.71;
color: var(--color-main);}
.link a {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}    
    /* Main-sid */
 .main-name{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.33;
letter-spacing: 0.06em;
color:  var(--color-main);
text-transform: uppercase;
 }
 .button-ordrer{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;

color: #212121;
background: #f5f4f4;
cursor: pointer;
 }
 .button-ordrer:hover{
    color: #fff;
    background:#2196f3;
 }
 .button-ordrer:active{
    color: #fff;
    background:#2196f3;
 }
 .features h3 {
    font-style: normal;
    font-weight: 700;
    
    line-height: 1.14;
    color: #212121;
    text-transform: uppercase;
 }
 .features p {
    line-height: 1.71;
    color: #757575;
 }
 .our-work{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
}
 .our-team{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
}
.team-list h3{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #212121;
    }
 .team-list p {
    font-size: 16px;
    color: #757575;
 }
/*Portfolio*/

.selector-list button{
font-family: roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;

color: #212121;
background: #f5f4fa;
cursor: pointer;
}
.selector-list li :hover{
color: #FFFFFF;
background: #2196F3;}
.selector-list li :focus{
background: #2196F3;
color: #FFFFFF; }
.portfolio-lis h2 {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-lis p {
font-size: 16px;
color: #757575;
}