.body{
    background: #e5e5e5;
    font-family: roboto; sans-serif; 
    width: 1600px; /*потім преперу*/
}
/* PresSet */
ul{
    list-style: none;
}
a{
   text-decoration: none;
}
/* Logo header footer */
.web{
    font-family: 'raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    letter-spacing: 0.03em;
    color: #2196f3;
}
.studionav{
    font-family: 'raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    letter-spacing: 0.03em;
    color: #212121
}
.studio{
    font-family: 'raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #fff;
}
/* header */
.nav-list  a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #212121;
   
}
.nav-list a:focus {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196f3;
}
.nav-list a:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196f3;
}
.nav-login  a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #212121;
   
}
.nav-login a:focus {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196f3;
}
.nav-login a:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196f3;
}
/* footer */
.address a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;}
.link a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}    
 /* Main-sid */
 .main-name{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.33;
text-align: center;
letter-spacing: 0.06em;
color: #fff;
 }
 .button-ordrer{
font-family: roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
color: #212121;
background: #f5f4fa;
cursor: pointer;
 }
 .button-ordrer:hover{
    font-family: roboto; 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.06em;
    color: #fff;
    background:#2196f3;
    cursor: pointer;
 }
 .button-ordrer:active{
    font-family: roboto; 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.06em;
    color: #fff;
    background:#2196f3;
    cursor: pointer;
 }
 .features h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
 }
 .features p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
 }
 .our-work{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
 .our-team{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-list h3{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: #212121;
 }
 .team-list p {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
 }
/*Portfolio*/

.selector-list button{
font-family: roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
color: #212121;
background: #f5f4fa;
cursor: pointer;
}
.selector-list li :hover{
background: #2196F3;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1,625;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.selector-list li :focus{
    background: #2196F3;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,625;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    }
.portfolio-lis h3 {
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.portfolio-lis p {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}